/* stylelint-disable font-family-name-quotes */

/* stylelint-disable font-family-no-missing-generic-family-keyword */
.form-box {
  background: rgba(225, 229, 235, 0.49);
  display: flex;
  height: 134px;
  padding: 25px 111px;
}

.form-container {
  align-items: center;
  color: #003be5;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Epilogue';
  font-size: 14px;
  font-weight: 700;
  justify-content: space-around;
  line-height: 14px;
}


.field {
  align-items: center;
  display: flex;
  padding: 10px;
}

.field .label {
  padding: 10px;
}

input , select {
  background-color: white;
  border: 1px solid #003be5;
  border-radius: 5px;
  color: #003be5;
  height: 30px;
  outline: none;
}

input , select:focus {
  border: 1px solid grey;
}

.control-description > input {
  padding: 0;
  width: 288px;
}

.control-category > select {
  width: 155px;
}

.control-value > input {
  padding: 0;
  width: 158px;
}

.control-method > select {
  width: 200px;
}

.control-currency > select {
  width: 91px;
}


.button-box {
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
}

button {
  background: #2fc18c;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 14px;
  margin-top: 28px;
  text-align: center;
  width: 330px;

}

button:hover {
  background: rgb(87, 170, 87);
  color: black;
}
