/* stylelint-disable no-descending-specificity */

/* stylelint-disable selector-list-comma-space-before */

/* stylelint-disable font-family-name-quotes */

/* stylelint-disable string-quotes */
.table-container {
  align-items: center;
  background-color: #003be5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 100px;
  margin-top: -280px;
  width: 1155px;
}

.content-table {
  color: white;

  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Epilogue";
  padding-top: 340px;
}

.content-table thead tr {
  font-weight: 700;
}

/* stylelint-disable-next-line selector-list-comma-space-after */
.content-table th {
  display: inline-block;
  padding: 5px 10px;
}

.content-table td {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}

/* .content-table tbody td {
  width: 105px;
} */

.button-delete {
  background: rgb(223, 111, 111);
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 100px;
}

.button-delete:hover {
  background: red;
  color: white;
}

.button-edit {
  background: #2fc18c;
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 100px;
}
